.container {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.textContainer {
    width: 60%;
    text-align: justify;
}

@media (max-width: 768px) {
    .textContainer {
        width: 100%;
    }
}